<!DOCTYPE html>
<html lang="en-AU">

<head>
    <title>Page not found</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link type="image/png" href="/icon.png" rel="icon" />
</head>

<body>
    <h1>That page could not be found</h1>
    <p>Maybe you were looking for one of these instead?</p>
    <ul>
        <% posts.forEach(post => { %>
        <li><a href="/<%= post.slug %>"><%= post.title %></a></li>
        <% }); %>
    </ul>

    <%- include('footer') %>
</body>

</html>